/* SETUP */

@import url(./helper.css);
/* PAGES */

@import url(./cmp/root-cmp.css);
@import url(./pages/mister-toy-app.css);

/* CMP */

@import url(./cmp/app-header.css);
@import url(./cmp/toys-list.css);
@import url(./cmp/toy-preview.css);





body {
    margin: 0;
    box-sizing: border-box;
    color: rgba(58, 57, 57, 0.938);
    font-family: Barlow,Arial,Helvetica,sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button{
    background-color:transparent;
    cursor: pointer;
    border: none;
}